<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>My budget</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/js/lib/ngQuickDate/ng-quick-date.css"/>
    <link rel="stylesheet" href="/js/lib/ngQuickDate/ng-quick-date-default-theme.css"/>

    <script type="text/javascript" src="js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/lib/ngQuickDate/ng-quick-date.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div ng-controller='AppCtrl'>
        <h2>Hello {{name}}</h2>
        <ul class="menu">
            <li>
                <a href="showCharges"> Show charges</a>
            </li>
            <li>
                <a href="addCharge"> Add charge</a>
            </li>
        </ul>
        <div ng-class="infoMessageClass" id="infoMessage" ng-show="budget.infoMessage">Last info: {{budget.infoMessage}}</div>
        <div ng-view></div>
    </div>

    <!--Charge list page-->
    <script id="chargeList.html" type="text/ng-template">
        <input type='text' ng-model='filterName'/>
        <span>
            <datepicker ng-model='dateFrom' placeholder='От какого числа' date-format='dd-MM-yyyy' disable-timepicker='true'></datepicker>
            <datepicker ng-model='dateTo' placeholder='До какого числа' date-format='dd-MM-yyyy' disable-timepicker='true'></datepicker>
        </span>
        <label for="categoryId">Категория:</label>
        <select ng-model="selectedCategory" id="categoryId" ng-change='filterAction()' ng-options="i for i in categories">
            <option value=""></option>
        </select>
        <input type="button" class="filterButton" ng-click="filterAction()" value="Выбрать"/>
        <p> Всего: {{budget.totals.spend}} </p>
        <p>  
            <select ng-model="selectedPeriod" ng-change='changePeriod()' ng-options="i.id+' - '+i.name for i in periods">
                <option value=""> Текущий период </option>
            </select>
        </p>

        <table class="chargeList table table-hover" ng-show="charges.length>0">
                <th> Имя</th>
                <th> Стоимость</th>
                <th> Категория</th>
                <th> Счет</th>
                <th> Дата</th>
            <tr ng-repeat="charge in charges | filter: filterName">
                <td class="chargeName">{{charge.Name}}</td>
                <td class="chargeMoney">{{charge.Money}}</td>
                <td class="chargeCategory">{{charge.category}}</td>
                <td class="chargeAccount">{{charge.account}}</td>
                <td class="chargeDate">{{charge.Date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            </tr>
        </table>


    </script>

    <!--Add charge  page-->
    <script id="addCharge.html" type="text/ng-template">
        <div class="addChargePage">
            <form class="form-horizontal" role="form" ng-submit="addCharge()">
              <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Наименование</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="name" ng-model="name" placeholder="Наименование">
                </div>
              </div>
              
              <div class="form-group moneyBlock">
                <label for="money" class="col-lg-2 control-label">Сумма</label>
                <div class="col-lg-10">
                    <button type="button" class="btn btn-warning btn-xs" ng-click="changeMoney('plus', 500)"> +500 </button>
                    <button type="button" class="btn btn-info" ng-click="changeMoney('minus', 50)"> - </button>
                    <input type="text" class="form-control" id="money" ng-model="money" placeholder="Сумма">
                    <button type="button" class="btn btn-info" ng-click="changeMoney('plus', 50)"> + </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="changeMoney('minus', 500)"> -500 </button>
                </div>
                <div class="col-lg-10 moneybuttons">
                    <button type="button" class="btn btn-success" ng-click="changeMoney('=', 250)"> 250 </button>
                    <button type="button" class="btn btn-success" ng-click="changeMoney('=', 450)"> 450 </button>
                    <button type="button" class="btn btn-success" ng-click="changeMoney('=', 1000)"> 1000 </button>
                    <button type="button" class="btn btn-success" ng-click="changeMoney('=', 2000)"> 2000 </button>
                </div>
              </div>
              
              <div class="form-group categoryBlock" ng-show="selectedCategory">
                <label for="category" class="col-lg-2 control-label">Категория</label>
                <div class="col-lg-10">
                    <select class="form-control" id="category" ng-model="selectedCategory" ng-options="i.Name for i in categories">
                        <option value="">-- добавить категорию --</option>
                    </select>                  
                </div>
              </div> 

              <div class="form-group addCategoryBlock" ng-show="selectedCategory===null">
                <label for="addCategoryName" class="col-lg-2 control-label">Новая категоиря</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="addCategoryName" ng-model="addCategoryName" placeholder="Новая категоиря">
                </div>
              </div> 

              <div class="form-group accountBlock1">
                <label for="account" class="col-lg-2 control-label">Счет</label>
                <div class="col-lg-10">
                    <select class="form-control" id="account" ng-model="selectedAccount" ng-options="i.name for i in accounts">
                    </select>                  
                </div>
              </div> 

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="transfer" ng-change="selectedCategory = (transfer)?transferCategory:defaultCategory"> Перевод
                    </label>
                  </div>
                </div>              
              </div>

              <div class="form-group accountBlock2" ng-show="transfer">
                <label for="transferAccount" class="col-lg-2 control-label">На счет</label>
                <div class="col-lg-10">
                    <select class="form-control" id="transferAccount" ng-model="transferAccount" ng-options="i.name for i in accounts">
                    </select>                  
                </div>
              </div> 

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <input type="submit" id="submit" class="btn btn-default" value="Добавить"/>
                </div>
              </div>
            </form>
        </div>




    </script>

</body>

</html>